*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Stack Sans Text", sans-serif;
    background: #f0f0f0;
    background: linear-gradient(179deg, rgba(240, 240, 240, 1) 0%, rgba(203, 244, 247, 1) 100%, rgba(163, 162, 160, 1) 0%);
}

hr {
    border: none;
    padding: 0;
    height: 1px;
    width: 275px;
    background-color: #edeff2;

}

h1,
h2,
h3 {
    color: #e8e9eb;
    padding: 8px;
    font-size: 30px;
    text-align: center;
}

label {
    display: block;
    color: #e8e9eb;
    font-size: 18px;
    margin-bottom: 0.4rem;
}

p {
    color: #070b26;
    padding: 10px;
    font-size: 20px;
    align-items: left;
}

.redirect {
    color: #d3e6f3;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

li {
    color: #d3e6f3;
    padding: 10px;
    font-size: 20px;
    text-align: left;

}

.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    min-width: 0;
}

.material-symbols-outlined {
    font-size: 32px;
    vertical-align: bottom;
}

.nav-link {
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: #edeff2;

}

.nav-link:hover {
    background-color: #f7b900fa;
    color: #070b26;
    transition: 500ms;
}

.nav-link:focus {
    background-color: #f7b900fa;
    color: #070b26;
}

.dropdown-toggle::picker-icon {
    text-align: right;
}

.sidebar-background {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: #070b26;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    white-space: nowrap;
    padding: .75rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.sidebarhead {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #edeff2;
}

.sidebarhead h3 {
    color: #edeff2;
}



.navbar-toggler {
    color: #edeff2;
    font-size: 30px;
    border-color: none;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-collapse:not(.show) {
    width: 0;
    opacity: 0;
}

.row {
    padding: 5px;

}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 30%;
}

.form-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7b900fa;
    background-image: linear-gradient(to bottom, #f7b900fa, #fac935fa);
    border-radius: 10px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    width: 50%;
    margin: 0 auto;
    gap: 1rem;
    width: 90%;

}

@media screen and (max-width: 600px) {
    .form-background {
        width: 100%;
        padding: .5rem;
    }

    .form-control {
        width: 60%;
    }

    .poster-img {
        width: 150px;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #070b26;
    border-radius: 10px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .05);
    ;
    padding: 2rem;
    margin: 0 auto;
    gap: 1rem;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070b26;
    border-radius: 10px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .05);
    padding: 2rem;
    margin: .5rem;
    gap: 1rem;
    flex-wrap: wrap;
    width: 95%;
}

.forms .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forms .row label {
    width: 250px;
    /* mismo ancho que .form-control */
    text-align: left;
    margin-left: 0;
}



.form-inline {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.form-control::placeholder {
    color: #8b8d9f;

}


.form-inline .form-control {
    flex: 1;
    min-width: 0;
}


.btn-primary {
    display: inline-block;
    width: max-content;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);

    --bs-btn-bg: #f7b900fa;
    --bs-btn-border-color: #FFBF00;
    --bs-btn-color: white;

    --bs-btn-hover-bg: #ffd043;
    --bs-btn-hover-border-color: #ffd043;
    --bs-btn-hover-color: white;

    --bs-btn-active-bg: #ffd043;
    --bs-btn-active-border-color: #ffd043;
    --bs-btn-active-color: white;

    --bs-btn-focus-shadow-rgb: 255, 208, 67;
}

.form-control {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 250px;
    flex-wrap: wrap;
}

.table {
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    justify-content: center;

}

.table thead th {
    background-color: #070b26;
    color: #edeff2;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.table thead th:first-of-type {
    border-top-left-radius: 20px;

}

.table thead th:last-of-type {
    border-top-right-radius: 20px;
}

.table tbody td {
    text-align: center;
}

.poster-img {
    width: 275px;
    filter: blur(8px);
}

.autocomplete-list {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    max-height: 160px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.stat-shower {
    display: flex;
    background-color: transparent;
    border: 1.5px solid #f7b900fa;
    color: #edeff2;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    flex-wrap: wrap;
    width: max-content;
}

.error {
    background-color: rgb(245, 80, 80);
    color: #edeff2;
    border: rgb(253, 68, 68) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.alert {
    background-color: rgb(248, 226, 104);
    color: #070b26;
    border: rgb(253, 210, 68) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.message {
    background-color: rgb(170, 248, 140);
    color: #252525;
    border: rgb(95, 235, 60) solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.card li,
h3 {
    color: #070b26;
}

.movies-carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll-left 60s linear infinite;
    padding: 1rem;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.movies-carousel .card {
    flex-shrink: 0;
    max-width: 220px;
    /* o el ancho que quieras por tarjeta */
    color: #e8e9eb;
    background-color: #070b26;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;

    img {
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.5);
    }

    h4 {
        text-align: center;
    }

}

.movies-carousel .card:hover {
    border-color: #FFBF00;
    border-width: .75rem;
    transition: 300ms;

}