{% extends 'layout.html' %}

{% block title %} Guess the Movie {% endblock %}

{% block content %}
<div class="form-background">
    <h2>Guess the movie by its poster:</h2>
    <div class="forms">
    <form class="form-inline" method="post">
        <input type="hidden" name="score" id="score" value="{{ randomPoster['score'] }}">
        <input type="hidden" name="guesses" id="guesses" value="{{ randomPoster['guesses'] }}">
        <input type="hidden" name="movie_id" value="{{ randomPoster['movie_id'] }}">
        <input type="hidden" name="movie_title" id="movie_title" value="{{ randomPoster['title'] }}">

        <label for="movie"> Try to guess the movie: </label>
        <div class="autocomplete-wrapper" style="position:relative;">
            <input type="search"class="form-control" onclick="GuessMovie()" name="movie" list="movie-list" id="movie" autocomplete="off" value="{{ request.form.get('movie', '') }}">
            <div id="movie-list" class="autocomplete-list">
                {% for m in movies %}
                <div class="autocomplete-option" data-value="{{ m[2] }}" style="padding:5px; cursor:pointer;">
                    {{ m[2] }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary" id="guess-button" type="submit">Guess</button>
    </form>
    

    <div class="card">
        <div class="row g-0">
            <div class="col">
                <img src="{{ randomPoster['poster_url'] }}" class="img-fluid rounded-start" id="poster"
                    alt="Random Movie" width="250">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary">Score: {{ randomPoster['score'] }} </button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary">Guesses: {{ randomPoster['guesses'] }} </button>
        </div>
        <div class="col-sm">
            <button class="btn btn-primary">Max Score: {{ session['maxScore'] }} </button>
        </div>

    </div>
    </div>

</div>

<script>
    const poster = document.getElementById('poster');
    const movieTitle = document.getElementById('movie_title').value;
    const movieGuess = document.getElementById('movie').value;
    const guesses = parseInt(document.getElementById('guesses').value);
    const score = parseInt(document.getElementById('score').value);
    let clicks = guesses;
    function GuessMovie() {
        if(movieTitle.localeCompare(movieGuess) == 0){
            console.log("Correct!")
        }
        else{
            //event.preventDefault();
            document.getElementById('guesses').value = clicks;
            revealPoster(clicks);
        }
    }

    function revealPoster(clicks) {
        //console.log(clicks);
        const poster = document.getElementById('poster');
        if (clicks === 1) {
            poster.style.filter = 'blur(6px)';

        } else if (clicks === 2) {
            poster.style.filter = 'blur(4px)';

        } else if (clicks === 3) {
            poster.style.filter = 'blur(3px)';

        } else if (clicks === 4) {
            poster.style.filter = 'blur(2px)';

        } else if (clicks > 4) {
            poster.style.filter = 'blur(1px)';

        }
    }

    console.log(movieTitle);
    console.log(movieGuess);
    console.log(movieTitle.localeCompare(movieGuess));
</script>
{% endblock %}