{% extends 'layout.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="form-background">
    
    <div class="forms">
        <h2><i class = "bi bi-person"></i> Log In</h2>
        <form method="post">
        <div class="row">
        <label for="username"><i class = "bi bi-person-circle"></i> Username:</label>
        <input class = "form-control" name = "username" id = "username" placeholder = "Username">
        </div>
        <div class="row">
        <label for="password"><i class = "bi bi-lock"></i> Password:</label>
        <input class="form-control" name = "password" type = "password" placeholder = "Password">
        </div>
        <div class="row">
        <button class = "btn btn-primary" type="submit" value="Log In" >Log In</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}