{% extends 'layout.html' %}

{% block title %} Recommend {% endblock %}

{% block content %}
<div class="form-background">
    <form class="form-inline" method="post">
        <label for="movie"> Insert a movie you liked: </label>
        <input class="form-control" id="movie" list="movie-list">
        <datalist id="movie-list">
            {% for m in movies %}
            <option value = "{{m[2]}}">
            {% endfor %}
        </datalist>
        <button class="btn btn-primary" type="submit">Recommend</button>
    </form>
</div>
{% endblock %}