{% extends 'layout.html' %}

{% block title %} Recommend {% endblock %}

{% block content %}
<div class="form-background">
    
<div class = "forms">
    <h2>Recommend movies:</h2>
    <form class="form-inline" method="post">
        <label for="movie"> Insert a movie you liked: </label>
        <div class="autocomplete-wrapper" style="position:relative;">
            <input class="form-control" type = "search" name="movie" id="movie" autocomplete="off"
                value="{{ request.form.get('movie', '') }}" placeholder = "Title">
            <div id="movie-list" class="autocomplete-list">
                {% for m in movies %}
                <div class="autocomplete-option" data-value="{{ m['title'] }}" style="padding:5px; cursor:pointer;">
                    <img src="{{ m['poster_url'] }}" alt="{{ m['title'] }}" width="40">
                    {{ m['title'] }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Recommend</button>
    </form>
</div>
    {% if recommendedMovie %}
    <table class="table table-striped d-none d-md-table mb-3">
        <thead>
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
                <th scope="col">Release Date</th>
            </tr>
        </thead>
        <tbody>
            {% for rm in recommendedMovie %}
            <tr>
                <td><img src="{{ rm.poster }}" alt="{{ rm.title }}" width="100"></td>
                <td>{{ rm.title }}</td>
                <td>{{ rm.genres|join(", ") }}</td>
                <td>{{ '{:.1f}'.format(rm.rating) }}/10 ⭐</td>
                <td>{{ rm.release_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-md-none">
        {% for rm in recommendedMovie %}
        <div class="card mb-2 p-1">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ rm.poster }}" class="img-fluid rounded-start" alt="{{ rm.title }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ rm.title }}</h5>
                        <p class="card-text"><strong>Genre:</strong> {{ rm.genres| join(", ") }}</p>
                        <p class="card-text"><strong>Rating:</strong> {{ rm.rating }}/10 ⭐</p>
                        <p class="card-text"><strong>Release Date:</strong> {{ rm.release_date }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}